<div id="job-view-container" class="container">
  <div class="row text-center">
    <a href="/" class="back-link main-color">Voltar</a>

    <div class="col-md-12">
      <h4 class="main-color">{{vip.dataValues.name}}</h4>
      <p class="job-desc"> documento do cliente: {{vip.dataValues.rg}}</p>
      <p>O desconto oferecido para este cliente é de
        {{vip.dataValues.desconto}}%</p>
    </div>
  </div>
</div>